.topstrip {
	position:absolute;
	top:0px;
	width:9999px;
	height:200px;
	text-align:middle;
	backgroud-color:blue;
}

.middle {
	position:absolute;
	width:100px;
	top:900px;
	height:200px;
	background-color:yellow;
}

.bottom {
	position:absolute;
	width:9999px;
	height:200px;
	bottom:75%;
	background-color:red;
	
}
